@media (max-width: 575px) {
	.img-service {
		height: 200px;
	}
	.p-service-left, .p-service-right {
		text-align: center;
	}
}

@media (max-width: 767px) {
	.img-service {
		height: 225px;
	}
	.p-service-left, .p-service-right {
		text-align: center;
		padding: 20px 5px 20px 5px;
	}
}

@media (max-width: 991px) {
	.presentation {
		background-image: url('/static/img/main.jpg');
		background-repeat: no-repeat;
		background-position: center;
		height: 92vh;
	}
	.img-main {
		background-image: none;
	}
	.img-service {
		height: 250px;
	}
	.p-service-left, .p-service-right {
		text-align: left;
		padding: 20px 5px 20px 5px;
	}
}

@media (min-width: 992px) {
	.img-main {
		background-image: url('/static/img/main.jpg');
		background-repeat: no-repeat;
		background-position: center;
		height: 92vh;
	}
	.p-service-left {
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 50px;
	}

.p-service-right {
	padding-top: 30px;
	padding-bottom: 30px;
	padding-right: 50px;
}
}

.subtitle {
	padding-bottom: 75px;
}

.but-main {
	font-size: 20px;
	font-weight: 700;
	height: 100px;
	width: 175px;
}

.img-service {
	padding-top: 30px;
	padding-bottom: 30px;
}